
body {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 60px;
    
}

h2 {
    font-variant: small-caps;
    font-size: 20px;
    font-weight: 700;
}

h3 {
    font-size: 15px;
    font-weight: 600;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 14px;

}

ul li {
    font-size: 14px;
}

section ul li {
    font-size: 18px;
}

.Perfil_Parrafo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    
}

a { 
    text-decoration:none;
}