* {
    margin: 0;
    padding: 0;
}

@import "fuentes";



.divgeneral {
    border-left: 1px ridge black;
    border-right: 1px ridge black;
}

aside {
    background-color: rgb(230, 230, 239);
}
main {
    background-color: rgb(198, 200, 202);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 20px;
    margin: 5px;
}

.cvperfil {
    width: 250px;
    border-radius: 200px;
}




section ul {
    display: flex;
    flex-direction: column;
    li {
        list-style: none;
    }
}

.ul_ex {
    margin-left: -1.7rem;
}

h3{
    padding-top: 5px;
}

h4 {
    display: flex;
    justify-content: space-between;
    height: 20px;
    margin-top: -5px;
    padding-left: 10px;
}

h5 {
    padding-left: 32px;
    margin-top: -5px;
}

.perfil {
    padding: 5px 5px 1px 5px;
    background-color: rgb(255, 244, 232);

}

.estudios {
    padding: 5px 5px 1px 5px;
    background-color: rgb(252, 229, 234);

}

.experiencia {
    padding: 5px 5px 15px 5px;
    background-color: rgb(226, 250, 238);

}

.Perfil_Parrafo {
    width: 90%;
    margin-left: 4%;
}


